<head>
    <link rel="stylesheet" href="/stylesheets/sitio.css">
</head>
<div id="home" class="row  hero">
    <div class="col-lg-3 offset-lg-2">
    </div>
</div>
<div class="container text-center" id="pagPrincipal">
    <div class="row">
        <div class="col-6" id="noticias">
            <h5><strong>Noticias</strong></h5>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-slide="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="noticia1">
                        <button class="btn" type="button">
                            <img src="images/resultado1.jpg" class="d-block w-100" height="330px" id="fotos">
                            <div class="carousel-caption d-none d-md-block" id="carusel">
                                <p>Resultado y Resumen contra Galicia.</p>
                            </div>
                        </button>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <button class="btn" type="button">
                            <img src="images/convocados1chica.jpg" class="d-block w-100" height="330px" id="fotos">
                            <div class="carousel-caption d-none d-md-block" id="carusel">
                                <p>Aifa - Convocados para enfrentar a Galicia</p>
                            </div>
                        </button>
                    </div>
                    <div class="carousel-item">
                        <button class="btn" type="button">
                            <img src="images/convocados3.jpg" class="d-block w-100" height="330px" id="fotos">
                            <div class="carousel-caption d-none d-md-block" id="carusel">
                                <p>Sub 23 - Convocados ante Tocalli B</p>
                            </div>
                        </button>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-3">
            <div class="container" id="Fixture">
                <h5 id="proximoPartido"><strong>Proximos partidos</strong></h5>
                <section id="partidos" style="margin-bottom: -20px !important;">
                    <div id="proximo">
                        <strong>Bco. Ciudad</strong> <strong> 0 - 4 </strong> La Negra
                        <div>
                            <span>
                                <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                            </span>
                            <span>
                                <img src="images/lanegra.png" alt="escudo provincia" id="escudos">
                            </span>
                            <span id="infopartido">
                                <p>
                                    <strong> Fecha 9 - Primera</strong>
                                    <br> Roja: Griolli, Marco
                                </p>
                            </span>
                        </div>
                        <div id="partidos2">
                            <strong>Bco. Ciudad</strong> Vs Libertador
                            <div>
                                <span>
                                    <img src="images/escudociudad2.png" alt="escudo ciudad" id="escudos">
                                </span>
                                <span>
                                    <img src="images/libertador.png" alt="escudo trovador" id="escudos">
                                </span>
                                <span id="infopartido">
                                    <p>
                                        <strong>Fecha 2 - Sub 23</strong>
                                        <br>Viernes 19/05/2023
                                    </p>
                                </span>
                            </div>
                        </div>
                        <div id="partidos3">
                            Afalp Vs <strong>Bco. Ciudad</strong>
                            <div>
                                <span>
                                    <img src="images/afalp.png" alt="escudo ciudad" id="escudos">
                                </span>
                                <span>
                                    <img src="images/escudociudad2.png" alt="escudo provincia" id="escudos">
                                </span>
                                <span id="infopartido">
                                    <p>
                                        <strong> Fecha 5 - Juveniles</strong>
                                        <br>Sabado 20/05/2023
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-3">
            <h5 style="text-align:left ;"><strong>Entrevistas</strong></h5>
            <div id="entrevistas">
                <ul class="lista-entrevista">
                    {{#each entrevistas}}
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}"><img
                                src="images/escudociudad2.png" alt="escudociudad"><strong>{{jugador}}</strong></a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{#each entrevistas}}
            <div class="modal fade" tabindex="-1" id="modal{{id}}" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">{{jugador}}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h3>{{pregunta}}</h3>
                            <p>{{respuesta}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <button id="pregunta" type="button" class="btn" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Pregunta
                vos tambien!</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalLabel">Entrevista!</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" action="/" method="post">
                                <div class="col-md-6">
                                    <label for="inputName4" class="form-label">Nombre</label>
                                    <input type="name" class="form-control" id="inputName4" name="nombre1">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Apellido</label>
                                    <input type="surname" class="form-control" id="inputPassword4" name="apellido1">
                                </div>
                                <div class="col-12">
                                    <label for="inputEmail4" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" name="email1">
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleFormControlTextarea1" class="form-label">Nombre del
                                        Jugador</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        name="jugador"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleFormControlTextarea1" class="form-label">Pregunta que le quieras
                                        hacer</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        name="pregunta"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-outline-success" type="submit" id="buscador1">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>